* {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

img {
  max-width: 100%;
}

html {
  border: .375em solid rgb(245,245,245);
  min-height: 100%;
  min-width: 100%;
}

body {
  color: rgb(80,80,80);
  font-family: 'Droid Serif', serif;
  font-weight: 400;
  margin: 15% auto 0;
  width: 90%;
}

.name {
  color: rgb(85,85,85);
  font-family: 'Droid Serif', serif;
  font-size: 1.8em;
  letter-spacing: 0.02em;
  font-weight: 400;
  margin: 0.35em;
  text-align: center;
  text-transform: none;
 sket
}

nav ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  padding: 0.75em 2em;
  display: block;
}
 
.button {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 30em;
  color: rgb(120,120,120);
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-size: 1.0em;
  font-weight: 300;
  letter-spacing: 0.03em;
  line-height: 1;
  padding: 0.75em 2em;
  margin-bottom: 0.75em;
  text-decoration: none;
  text-transform: none;
  width: 10em;
}
 
.button:hover,
.button:focus {
  color: white;
  background-color: #CDB48A;
  border: 1px solid #CDB48A;
}

.tagline {
  color: rgb(120,120,120);
  font-family: 'Lato', sans-serif;
  font-size: 1.0em;
  font-weight: 300;
  letter-spacing: 0.03em;
  margin: 0.35em;
  text-align: center;
  text-transform: none;
}

.tagline a,
.tagline a:active,
.tagline a:visited,
.tagline a:focus {
  color: inherit;
}


.links li {
  display: inline-block;
  margin: 0 0.1875em 0 0;
}

.links li:after {
  color: rgb(180,180,180);
  content: "·";
  padding-left: 0.375em;
}

.links li:last-child {
  margin: 0;
}

.links li:last-child:after {
  content: "";
  padding-left: 0;
}

.headshot-wrapper {
  border-radius: 1em;
  display: block;
  line-height: 0;
  margin: 0 auto 0em;
  width: 9em;
}

.headshot {
  border-radius: 6.25em;
}
